.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("macaco.gif");
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height:40vh;
    background-color: aliceblue;
    border-radius: 6rem 6rem;
    border: solid 0.1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
    opacity: 0.9;
}
.value {
    text-align: center;
}
.value:hover {
    transition: 0.4;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
  }
.btn {
    margin-top: 1rem;
    width: 5vw;
}
